{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.css"
    />
    <link rel="stylesheet" href="{% static 'posts/css/style.css' %}" />
  </head>
  <body>
    <div class="header">
      <a class="menu-btn title" href="{% url 'posts:main' %}">Pirostargram</a>
      {% if user.is_authenticated %}

      <span>{{user.username}} 님이 로그인중</span>
      <a class="menu-btn" href="{% url 'posts:create' %}">게시글 작성하기</a>
      <a href="{% url 'users:logout' %}">로그아웃</a>
      {%endif %}
      <a class="menu-btn title" href="{% url 'posts:main' %}">메뉴</a>
    </div>
    <div class="post">
      {% if post.photo.url != '' %}
      <img src="{{post.photo.url}}" alt="제품 이미지" class="img" /><br />
      {% else %}
      <img
        src="{% static 'posts/image/no_img.png' %}"
        alt="대체 텍스트"
        class="img"
      /><br />
      {% endif %}
      <div class="post_title">제목 : {{post.title}}</div>
      <div class="post_user">작성자 : {{post.user.username}}</div>
      <div class="post_content">내용 : {{post.content}}</div>
      <div class="post-id-{{ post.id }}">
        <div
          class="btn btn-primary post__like"
          onclick="onClickLike({{ post.id }},{{post.like}},'{{user.username}}')"
        >
          {% if post.is_like %}
          <i class="fa-solid fa-heart"></i>
          <div>총 좋아요 : {{post.like}}</div>
          {% else %}
          <i class="fa-regular fa-heart"></i>
          <div>총 좋아요 : {{post.like}}</div>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="comment-list-{{post.id}} comment-list">
      {% for comment1 in comments %}
      <div class="comment comment{{comment1.id}}">
        {{comment1.comment}}
        <div class="comment-user">{{comment1.user.username}}</div>
        {% if comment1.user.username == user.username %}
        <div
          class="btn btn-primary comment-create"
          onclick="onClickDelete({{ post.id }},{{comment1.id}})"
        >
          삭제
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>

    <div class="comment-id-{{ post.id }} comment-new">
      <input
        type="text"
        id="commentInput-{{ post.id }}"
        placeholder="댓글 내용을 입력하세요"
      />
      <div
        class="btn btn-primary comment-create"
        onclick="onClickCreate({{ post.id }},document.getElementById('commentInput-{{ post.id }}').value,'{{user.username}}')"
      >
        등록
      </div>
    </div>
    <script>
      const requestClick = new XMLHttpRequest();

      const onClickCreate = (id, comment, username) => {
        console.log(1);
        const url = "/comments/create/";
        requestClick.open("POST", url, true);
        requestClick.setRequestHeader(
          "Content-Type",
          "application/x-www-form-urlencoded"
        );
        console.log("1");
        requestClick.send(
          JSON.stringify({ id: id, comment: comment, username: username })
        );
        console.log("2");
        requestClick.onreadystatechange = () => {
          if (requestClick.readyState === XMLHttpRequest.DONE) {
            if (requestClick.status < 400) {
              const { id, comment, comment_id, user } = JSON.parse(
                requestClick.response
              );
              console.log("3");
              const element = document.querySelector(`.comment-list-${id}`);
              element.innerHTML =
                element.innerHTML +
                `<div class='comment comment${comment_id}'>${comment}  <div class="comment-user">${user} </div><div
                  class="btn btn-primary comment-create"
                  onclick="onClickDelete({{ post.id }},${comment_id})"
                >
                  삭제
                </div></div>`;
            }
          }
        };
      };

      //레디스테이트가 변할때마다 이벤트리스너처럼 자동작동

      const onClickDelete = (id, comment_id) => {
        const url = `/comments/delete/${id}`;
        requestClick.open("POST", url, true);
        requestClick.setRequestHeader(
          "Content-Type",
          "application/x-www-form-urlencoded"
        );
        requestClick.send(JSON.stringify({ id: id, comment_id: comment_id }));

        requestClick.onreadystatechange = () => {
          if (requestClick.readyState === XMLHttpRequest.DONE) {
            if (requestClick.status < 400) {
              const { id, comment_id } = JSON.parse(requestClick.response);
              console.log(comment_id);
              const element = document.querySelector(`.comment${comment_id}`);
              console.log("poss");
              element.innerHTML = ``;
            }
          }
        };
      };

      //레디스테이트가 변할때마다 이벤트리스너처럼 자동작동
      const onClickLike = (id, like, username) => {
        const requestLike = new XMLHttpRequest();
        const url = "/like_ajax/";
        requestLike.open("POST", url, true);
        requestLike.setRequestHeader(
          "Content-Type",
          "application/x-www-form-urlencoded"
        );
        requestLike.send(
          JSON.stringify({ id: id, like: like, username: username })
        );
        requestLike.onreadystatechange = () => {
          if (requestLike.readyState === XMLHttpRequest.DONE) {
            console.log("2");
            if (requestLike.status < 400) {
              const { id, type, like } = JSON.parse(requestLike.response);
              const element = document.querySelector(
                `.post-id-${id} .post__like`
              );
              console.log("3");
              if (type) {
                element.innerHTML = `<i class="fa-solid fa-heart"></i><div>총 좋아요 : ${like}</div>`;
              } else {
                element.innerHTML = `<i class="fa-regular fa-heart"></i><div>총 좋아요 : ${like}</div>`;
              }
            }
          }
        };
      };

      //레디스테이트가 변할때마다 이벤트리스너처럼 자동작동
    </script>
  </body>
</html>
