{% load static %}{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.css"
    />
    <link rel="stylesheet" href="{% static 'posts/css/style.css' %}" />
  </head>
  <body>
    <div class="header">
      <a class="menu-btn title" href="{% url 'posts:main' %}">Pirostargram</a>

      {% if user.is_authenticated %}

      <span>{{user.username}} 님이 로그인중</span>
      <a class="menu-btn" href="{% url 'posts:create' %}">게시글 작성하기</a>
      <a href="{% url 'users:logout' %}">로그아웃</a>

      {% else %}
      <a class="social_login3" href="{% provider_login_url 'google' %}"
        >구글 로그인</a
      >
      <a class="social_login3" href="{% provider_login_url 'kakao' %}"
        >카카오 로그인</a
      >
      <a class="social_login3" href="{% provider_login_url 'naver' %}"
        >네이버 로그인</a
      >
      {% endif %}
    </div>

    <div class="posts_list">
      {% for post in posts %}
      <div class="post">
        {% if post.photo.url != '' %}
        <img src="{{post.photo.url}}" alt="제품 이미지" class="img" /><br />
        {% else %}
        <img
          src="{% static 'posts/image/no_img.png' %}"
          alt="대체 텍스트"
          class="img"
        /><br />
        {% endif %}
        <a class="post_title" href="{% url 'posts:detail' post.pk %}"
          >제목 : {{post.title}}</a
        >
        <div class="post_user">작성자 : {{post.user.username}}</div>
        <div class="post-id-{{ post.id }}">
          <div
            class="btn btn-primary post__like"
            onclick="onClickLike({{ post.id }},{{post.like}},'{{user.username}}')"
          >
            {% if post.is_like %}
            <i class="fa-solid fa-heart"></i>
            <div>총 좋아요 : {{post.like}}</div>
            {% else %}
            <i class="fa-regular fa-heart"></i>
            <div>총 좋아요 : {{post.like}}</div>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <script>
      const requestLike = new XMLHttpRequest();

      const onClickLike = (id, like, username) => {
        const url = "/like_ajax/";
        requestLike.open("POST", url, true);
        requestLike.setRequestHeader(
          "Content-Type",
          "application/x-www-form-urlencoded"
        );
        requestLike.send(
          JSON.stringify({ id: id, like: like, username: username })
        );
        console.log("1");
      };

      //레디스테이트가 변할때마다 이벤트리스너처럼 자동작동
      requestLike.onreadystatechange = () => {
        if (requestLike.readyState === XMLHttpRequest.DONE) {
          console.log("2");
          if (requestLike.status < 400) {
            const { id, type, like } = JSON.parse(requestLike.response);
            const element = document.querySelector(
              `.post-id-${id} .post__like`
            );
            console.log("3");
            if (type) {
              element.innerHTML = `<i class="fa-solid fa-heart"></i><div>총 좋아요 : ${like}</div>`;
            } else {
              element.innerHTML = `<i class="fa-regular fa-heart"></i><div>총 좋아요 : ${like}</div>`;
            }
          }
        }
      };
    </script>
  </body>
</html>
