/* @import "./reset.css"; */
a {
  text-decoration-line: none;
}
.fa-solid {
  color: pink;
}

.posts_list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid black;
}

.post {
  display: inline-flex;
  flex-direction: column;
  background-color: antiquewhite;
  padding: 20px;
  border-radius: 10px;
}

.img {
  width: 225px;
}

.comment {
  display: -webkit-inline-box;
  margin: 5px;
  background-color: pink;
  border-radius: 5px;
  gap: 20px;
}
.comment-user {
  background-color: skyblue;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.comment-create {
  background-color: greenyellow;
  border-radius: 5px;
  width: 50px;
  display: flex;
  justify-content: center;
}

.comment-list {
  display: table-caption;
  flex-direction: column;
}

.comment-new {
  display: flex;
}
